# Dependencies
/node_modules

# Build folders
/lib/bs
## CommonJS setup
/lib/js/src
/lib/js/__tests__/*.bs.js
## ES6 setup
/lib/es6/src
/lib/es6/__tests__/*.bs.js

# Misc
.DS_Store
.merlin
.bsb.lock
npm-debug.log

.vercel
